*{      
    margin: 0px;
    padding: 0px;
}

body {
    font-family:'Roboto',Shrikhand, cursive sans-serif;
    font-size: 16px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    a img.logo{
        width:200px;
        font-family: 'Shrikhand', cursive;
        margin:10px 0px 10px 0px;}
}

form{
    $green:#99d9e2;
    display: flex;
    background-color:$green;
    width:375px;
    justify-content: center;
    box-shadow: 3px 1px 1px 1px lightgrey;
    border:1px solid $green;
        button.map{       
            width: 25px;
            height: 25px;
            background-color:$green;
            border: none;}
        
        input.index{
            border: none;
            background-color: $green;}
}
    section.discovery{
        background-color:#caf5ea;
        padding-bottom: 40px;
        div h1 { margin: 30px 50px 10px 40px;
        text-align: center;
        font-family: 'Shrikhand', cursive;
        }
        div p{
        padding: 15px 23px 15px 22px;
        text-align: center;
        }
        div.discover{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        line-height: 20px;
        }
            button.btn {
            border-radius: 25px;
            height: 30px;
            font-size: 10px;
            width:200px;
            border-color:#FF79DA;
            background-color: #9356dc;
            cursor: pointer;
            color: white;
            }
            button.btn:hover{background-color: #b79adb;
                color: white;
            }
        
}
/*--------------------------fonctionement---------*/
section.operation__contain div.operation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 50px;
    align-content: center;

    h1.operation__title{font-family: 'Shrikhand';
        padding-left: 80px;
        margin-top: 30px;
        margin-bottom: 20px;
        position:relative;
        right:80px;
    }
    div.operation{
        .button.btn1{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 25px;
            height: 30px;
            font-size: 15px;
            width:90%;
            height:60px;
            background-color:#99E2D0;
            border-color:transparent;
            margin-bottom: 20px;
        }
        .button.btn1:hover{
            background-color:#d2d8d7;
            color: black;
        }
        button.btn2{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 25px;
            height: 30px;
            font-size: 15px;
            width:90%;
            height:60px;
            background-color:#99E2D0;
            border-color:transparent;
            margin-bottom: 20px;
        }
        .button.btn2:hover{
            background-color:#d2d8d7;
            color: black;
        }
        .button.btn3{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 25px;
            height: 30px;
            font-size: 15px;
            width:90%;
            height:60px;
            background-color:#FF79DA;        
            border-color:transparent;
            margin-bottom: 20px;
        }
        .button.btn3:hover{
            background-color:#fcb4e7;
            color: black;
        }
    
        div.operation__number--1{ 
            position: absolute;
            top:410px;
            left: 5px;
            border-radius: 50%;
            background-color: #9356DC;
            border: px solid #9356DC;
            color: white;
            width:20px;
            text-align: center;
        }

        div.operation__number--2{
            position: absolute;
            top:490px;
            left: 5px;
            background-color: #9356DC;
            border: px solid #9356DC;
            color: white;
            width:20px;
            text-align: center;
            border-radius: 50%;
        }

        div.operation__number--3{ 
            position: absolute;
            top:570px;
            left: 5px;
            border-radius: 50%;
            background-color: #9356DC;
            border: px solid #9356DC;
            color: white;
            width:20px;
            text-align: center;
        }
    }
}
.fa-mobile-alt{
    position: absolute;
    left: 50px;
    top: 415px;
}

.fa-list{
    position: absolute;
    left: 50px;
    top: 490px;
}
.fa-store{
    position:absolute;
    color:#9356DC;
    left:50px;
    top: 570px;
}

/************restaurants******/














