*{      
  margin: 0px;
  padding: 0px;
}

body {
  font-family:'Roboto',Shrikhand, cursive sans-serif;
  font-size: 16px;
  

}
img.logo{
  width:200px;
  font-family: 'Shrikhand', cursive;
  margin:10px 0px 10px 0px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;

}

form button.map{       
  width: 25px;
  height: 25px;
  background-color:#99E2D0;
  border: none;
}
input.index{
  border: none;
  background-color: #99e2d0;}

form{  
  display: flex;
  background-color: #99E2D0;
  width:375px;
  justify-content: center;
  box-shadow: 3px 1px 1px 1px lightgrey;
  border:1px solid #99E2D0;
}
section.discovery div h1{   
  margin: 30px 50px 10px 40px;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}
section.discovery{
  background-color:#caf5ea;
  padding-bottom: 40px;
}

section div.discover{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  line-height: 20px;
  align-items: flex-start;
}   
section.discovery div p{
  padding: 15px 23px 15px 22px;
  text-align: center;      
}

section.discovery div.discover button.btn {
  border-radius: 25px;
  height: 30px;
  font-size: 10px;
  width:200px;
  border-color:#FF79DA;
  background-color: #9356dc;
  cursor: pointer;    
  position: relative;
  top: 0px;
  color: white;
}
button.btn:hover {
  background-color: #b79adb;
  color: white;
}

/*--------------------------fonctionement---------*/
section.operation__contain{
  margin-bottom:60px;}
section.operation__contain h2.operation__title{
  font-family: 'Shrikhand';
  padding-left: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  position:relative;
  right:80px;
}
section.operation__contain button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  font-size: 15px;
  width:90%;
  height:60px; 
  background-color:#f1e6fd;
  border-color:transparent;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  top: 0px;
  color: black;
  cursor: pointer; 
  box-shadow: 4px 4px 4px 4px #ece4f5;
}
section.operation__contain button:hover {
  background-color:#ece4f5;
}
section.operation__contain button.btngreen{
  background-color: #dff7f1;
  box-shadow: 4px 4px 4px 4px #dff7f1;
}
section.operation__contain button:hover {
  background-color: #fbfdfd;
  
}
section.operation__contain button.btnlightgreen{
  background-color: #e5fdf7;
  box-shadow: 4px 4px 4px 4px #fbfdfd;
}
section.operation__contain button:hover {
  background-color: #fbfdfd;
}
span.number{   
  border-radius: 50px;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  left: -10px;
  top: 12px;
  font-size: 20px;
}     

.svg-inline--fa{position: relative;
right: 30px;
}
.fa-store{color:#9356dc}

/************restaurants******/
section.dining__contain{
  background-color:#99E2D0;
  padding-bottom: 70px;
  padding-right: 5px;
  padding-left: 5PX;
  box-sizing: border-box;
}
h2.dining__title{
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'Shrikhand';
}
div.dining__picture img{
  width:95%;
  height:170px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 10px;
  display: flex;
}       

div.dining__content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;
  height: 60px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  height: 70px;
  width:92%;
  padding-left:0px;
  margin-left: 10px;
  padding: 10px 0px 0px  10px;
  font-size: 20px;
}


div.dining__title--h4{
  color: black;
}
div.dining__title--h3{  
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  color: black;
}


div.heart__palettedugout{    
  position: absolute;
  right: 0px;
  top: 920px;
  color: black;
}
div.heart__lanoteenchantee{    
  position: absolute;
  right: 0px;
  top: 1190px;
  color: black;
}
div.heart__alafrancaise{    
  position: absolute;
  right: 0px;
  top:1460px;
  color: black;
}
div.heart__ledelicedessens{    
  position: absolute;
  right: 0px;
  top: 1720px;
  color: black;
}
a.content{
  text-decoration: none;
}
.svg-inline--fa{
  font-size: 25px;
}

/*----footer-----*/
img.footerlogo{
  width:80px;
  font-family: 'Shrikhand', cursive;
  margin:20px 0px 0px 10px;
  filter: invert(100%);
  -webkit-filter: white(100%);
  
}
div.footpage{display: flex;
  flex-direction: column;
  line-height: 20px;
  background: grey;
  padding-bottom: 30px;
}
div.footpage a i{ 
  color:white}
a.footup{
  margin-left: 30px;
  text-decoration: none;
  color: black;
}
a.foot{
  text-decoration: none;
  
}
h3{
  margin-left:10px;
  font-size:16px;
  font-weight: 200; 
  color:white;   
}
.fa-staylinked{
  position: relative;
  right:175px;
  top: 20px;
  color: white;
}
.fa-utensils{
  position: relative;
  left: 10px;
  top: 15px;
  color: white;
}
/*-----Menu 1-----*/
*{      
  margin: 0px;
  padding: 0px;
}
body.lapalettedugout{
  background-color:    rgb(238, 234, 234);
  box-sizing: border-box;
  font-family:'Roboto',Shrikhand, cursive sans-serif;
  font-size: 16px;
  }

.backarrow{
  width: 30px;
  position: relative;
  right: 50px;
  top: 15px;
}
img.logo {
  width: 200PX;
} 
img.picture{
  width: 100%;
}
h1.card__title{ 
  margin: 30px 50px 10px 40px;
  text-align:start;
  font-family: 'Shrikhand', cursive;
  font-size:25px;
}

div.card__heart{
  position: absolute;
  right: 10px;
  top: 380px;
}

/*-----starter------*/

section.card-menu{
  padding: 0px 10px 0px 10px;
}
div.card-menu__starter h4.card-menu__title{
  
  padding-bottom:5px;
  width: 10%;
  color: black;
  margin: 30px 0px 15px 0px;
  border-bottom : 1px solid lightgrey;
  border-width: 3px;
  text-decoration: none;
}
a.card-menu__starter{
  text-decoration: none;
  color: black;
}
div.starter__content{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin:10px 0px 10px 0px;
  padding-left:10px;
  height: 69px;
  } 
  
div.starter__title{
  padding: 15px 0px 3px 0px;
}
div.starter__price{ 
  width: 20px;
  position: relative;
  left: 230px;
  bottom: 18px;
}
.fa-check-circle{
  color:#99E2D0;
  background-color: white;
  border-radius: 50PX;
  font-size: 35px; 
}
div.check__icon--check{
  display: flex;
  direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 72px;
  left: 290px;
  width: 60px;
  height: 70px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99E2D0;
  
}

/*---main---*/

a.card-menu__main{
  text-decoration: none;
  color: black;
}
div.card-menu__main h4.card-menu__title{
  
  padding-bottom:5px;
  width: 10%;
  color: black;
  margin: 30px 0px 15px 0px;
  border-bottom : 1px solid lightgrey;
  border-width: 3px;
  text-decoration: none;
}
div.main__content{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin:10px 0px 10px 0px;
  padding-left:10px;
  height: 69px;
} 
div.main__title{
  padding: 15px 0px 3px 0px;
  }
div.main__price{ 
  width: 20px;
    position: relative;
    left: 250px;
    bottom: 20px;
}
a.card-menu__dessert{
  text-decoration: none;
  color: black;
}    
div.card-menu__dessert h4.card-menu__title{
  padding-bottom:5px;
  width: 10%;
  color: black;
  margin: 30px 0px 15px 0px;
  border-bottom : 1px solid lightgrey;
  border-width: 3px;
  text-decoration: none;
}
div.dessert__content{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin:10px 0px 10px 0px;
  padding-left:10px;
  height: 69px;
}
div.dessert__title{
  padding: 15px 0px 3px 0px;
}
div.dessert__price{ 
  width: 20px;
    position: relative;
    left: 250px;
    bottom: 20px;
}   

button.btn{
  border: 1px solid #FF79DA;
  background-color: #FF79DA;
  color: white;
  border-radius: 25px;
  width:170px;
  height: 50px;
  position:relative;
  top: 30px;
  left: 90px;
  cursor: pointer;
}
button.btn:hover {
  background-color: #e9dbfa;
  color: white;
}




div.footpage1{display: flex;
  flex-direction: column;
  line-height: 20px;
  background: grey;
  padding-bottom: 30px;
  margin-top:70px

}
div.footpage1 a i{color:white}
/*-----Menu 2-----*/

body.lanoteenchantee{
  background-color: rgb(238, 234, 234);
  box-sizing: border-box;
  font-family:'Roboto',Shrikhand, cursive sans-serif;
  font-size: 16px;
}
button.btn{
  border: 1px solid #FF79DA;
  background-color: #FF79DA;
  color: white;
  border-radius: 25px;
  width:170px;
  height: 50px;
  position:relative;
  top: 30px;
  left: 90px;
}
section.cardmenu a.order button.btn{
  border-radius: 25px;
  height: 30px;
  font-size: 10px;
  width:200px;
  border-color:#FF79DA;
  background-color: #9356dc;
  cursor: pointer;
}
button.btn:hover{
  background-color: #b79adb;
  color: white;
}
div.footpage2{
  margin-top:70px;
  padding-bottom: 30px;
}
div.footpage2{
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: grey;
  margin-top:70px
}
div.footpage2 a i{color:white}  
body.ledelicedessens{
  background-color: rgb(238, 234, 234);
  box-sizing: border-box;
  font-family:'Roboto',Shrikhand, cursive sans-serif;
  font-size: 16px;
}
/*-----Menu 3-----*/
div.footpage3{
  margin-top:70px;
  padding-bottom: 30px;
} 
/*-----Menu 3-----*/
div.footpage4{
  margin-top:70px;
  padding-bottom: 30px;
}
