div.footpage {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: #404040;
  padding-bottom: 30px;
}

div.footpage a img.footerlogo {
  width: 80px;
  font-family: 'Shrikhand', cursive;
  margin: 20px 0px 0px 10px;
  filter: invert(100%);
  -webkit-filter: white(100%);
}

_form.scss
_form {
  display: flex;
  background-color: #eaeaeb;
  width: 375px;
  justify-content: center;
  box-shadow: 3px 1px 3px 1px #d9d9d9;
  border: 1px solid #e6e6e6;
  height: 40px;
  column-gap: 0px;
  align-items: center;
}

_form.scss
_form button.map {
  width: 40px;
  height: 40px;
  background-color: #eaeaeb;
  border: none;
  align-items: center;
}

_form.scss
_form input.index {
  border: none;
  background-color: #eaeaeb;
  height: 20px;
  font-size: 15px;
  width: 140px;
}

@keyframes itemdisplay {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes rotate-icon {
  0% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes slide-lefticon {
  0% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.accueil {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil.h1 {
  font-size: 120px;
  margin-bottom: 450px;
}

/*-----*/
.loader {
  position: fixed;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.lettre {
  color: #484848;
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
    display: none;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

/*-----*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img.logo {
  width: 200px;
  font-family: 'Shrikhand', cursive;
  margin: 10px 0px 10px 0px;
}

form {
  display: flex;
  background-color: #eaeaeb;
  width: 375px;
  justify-content: center;
  box-shadow: -0px -2px 0px lightgrey;
  border: 1px solid #e6e6e6;
  height: 40px;
  column-gap: 0px;
  align-items: center;
}

form button.map {
  width: 40px;
  height: 40px;
  background-color: #eaeaeb;
  border: none;
  align-items: center;
}

form input.index {
  border: none;
  background-color: #eaeaeb;
  height: 20px;
  font-size: 15px;
  width: 140px;
}

section.discovery {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

section.discovery div.discover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 20px;
  align-items: center;
}

section.discovery div.discover h1 {
  margin: 30px 50px 10px 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 280px;
}

section.discovery div.discover p {
  padding: 15px 23px 15px 22px;
  text-align: center;
}

section.discovery div.discover button.btn {
  border: 1px solid white;
  border-radius: 25px;
  height: 40px;
  font-size: 12px;
  width: 180px;
  border-color: transparent;
  background: linear-gradient(#f27be0, #b374e0);
  box-shadow: 1px 1px 1px 1px #f196e4;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 5px;
  color: white;
}

section.discovery div.discover button.btn:hover {
  background-color: #FF79DA;
  color: white;
}

section.operation__contain {
  padding: 25px 0px 25px 0px;
  background-color: white;
}

section.operation__contain h2.operation__title {
  font-family: 'Roboto', sans-serif;
  padding-left: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  right: 80px;
}

section.operation__contain button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  font-size: 15px;
  width: 90%;
  height: 60px;
  border-color: transparent;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  top: 0px;
  color: black;
}

section.operation__contain button span.number {
  border-radius: 50px;
  background-color: #FF79DA;
  width: 25px;
  height: 23px;
  color: white;
  position: absolute;
  left: -10px;
  top: 17px;
  font-size: 16px;
  cursor: pointer;
  padding-top: 3px;
}

section.operation__contain button .fa-mobile-alt {
  position: absolute;
  left: 10px;
  padding-left: 25px;
}

section.operation__contain button .fa-list {
  position: absolute;
  left: 30px;
  margin-right: 10px;
}

section.operation__contain button .fa-store {
  position: absolute;
  left: 26px;
  color: #FF79DA;
  color: #FF79DA;
}

section.operation__contain .btn__grey {
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px 2px #dff7f1;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__grey:hover {
  background-color: #f3f3f3;
}

section.operation__contain .btn__lightgrey {
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px 2px #e5fdf7;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__lightgrey:hover {
  background-color: #f3f3f3;
}

section.operation__contain .btn__purple {
  background-color: #f3edff;
  box-shadow: 2px 2px 2px 2px #efeaf5;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__purple:hover {
  background-color: #f8f3fd;
}

section.dining__contain {
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

section.dining__contain h2.dining__title {
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

section.dining__contain div.dining__picture a.dining img {
  width: 95%;
  height: 170px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 10px;
  display: flex;
}

section.dining__contain div.dining__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  height: 70px;
  width: 95%;
  padding-left: 0px;
  margin-left: 10px;
  padding: 10px 0px 0px 10px;
  font-size: 20px;
}

section.dining__contain div.dining__content a.content {
  text-decoration: none;
}

section.dining__contain div.dining__content a.content div.dining__title h4 {
  color: black;
}

section.dining__contain div.dining__content a.content div.dining__title h3 {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  color: black;
  font-weight: 300;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout i {
  transform: translateY(-50%);
}

section.dining__contain div.dining__content a.content div.heart__palettedugout .fas {
  position: absolute;
  font-size: 25px;
  top: 980px;
  right: 40px;
  color: transparent;
  background-image: linear-gradient(#f27be0, #b374e0);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout .fas:hover.fas {
  opacity: 1;
  transform: scale(1) translateY(-50%);
  transition-duration: 1s;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout .far {
  color: black;
  position: absolute;
  font-size: 25px;
  top: 980px;
  right: 40px;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout .far:hover {
  visibility: hidden;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee i {
  transform: translateY(-50%);
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee .fas {
  position: absolute;
  font-size: 25px;
  top: 1240px;
  right: 40px;
  color: transparent;
  background-image: linear-gradient(#f27be0, #b374e0);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee .fas:hover.fas {
  opacity: 1;
  transform: scale(1) translateY(-50%);
  transition-duration: 1s;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee .far {
  color: black;
  position: absolute;
  font-size: 25px;
  top: 1240px;
  right: 40px;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee .far:hover {
  visibility: hidden;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise i {
  transform: translateY(-50%);
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise .fas {
  position: absolute;
  font-size: 25px;
  top: 1498px;
  right: 40px;
  color: transparent;
  background-image: linear-gradient(#f27be0, #b374e0);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
  transition-duration: 1.5s;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise .fas:hover.fas {
  opacity: 1;
  transform: scale(1) translateY(-50%);
  transition-duration: 1s;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise .far {
  color: black;
  position: absolute;
  font-size: 25px;
  top: 1498px;
  right: 40px;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise .far:hover {
  visibility: hidden;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens i {
  transform: translateY(-50%);
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens .fas {
  position: absolute;
  font-size: 25px;
  top: 1759px;
  right: 40px;
  color: transparent;
  background-image: linear-gradient(#f27be0, #b374e0);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens .fas:hover.fas {
  opacity: 1;
  transform: scale(1.1) translateY(-50%);
  transition-duration: 1s;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens .far {
  color: black;
  position: absolute;
  font-size: 25px;
  top: 1759px;
  right: 40px;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens .far:hover {
  visibility: hidden;
}

div.footpage a {
  color: white;
}

div.footpage .fa-staylinked {
  position: relative;
  left: 15px;
  top: 25px;
  color: white;
}

div.footpage p.weight {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 40px;
  line-height: 3px;
}

div.footpage p {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  line-height: 20px;
}

div.footpage .fa-utensils {
  position: relative;
  left: 15px;
  top: 25px;
  color: white;
}

/*-----Menu 1-----*/
img.backarrow {
  width: 30px;
  position: relative;
  right: 150px;
  top: 45px;
}

img.logo {
  width: 160px;
  padding-left: 20px;
}

img.picture {
  width: 100%;
  position: relative;
  z-index: -1;
}

section.card-menu {
  padding: 10px 10px 60px 10px;
  background-color: #f6f6f6;
}

section.card-menu h3.card-menu__title {
  padding-bottom: 5px;
  width: 10%;
  color: black;
  margin: 30px 0px 15px 0px;
  border-bottom: 1px solid lightgrey;
  border-width: 3px;
  text-decoration: none;
}

div.menu {
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: -15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

div.menu h1.card__title {
  margin: 20px 15px 5px 0px;
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.card__heart {
  position: absolute;
  right: 45px;
  top: 365px;
  font-size: 25px;
}

div.card__heart i {
  transform: translateY(-50%);
}

div.card__heart .fas {
  position: absolute;
  font-size: 25px;
  top: 15px;
  color: transparent;
  background-image: linear-gradient(#f27be0, #b374e0);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
}

div.card__heart .fas:hover.fas {
  opacity: 1;
  transform: scale(1) translateY(-50%);
  transition-duration: 1.5s;
}

div.card__heart .far {
  position: absolute;
  font-size: 25px;
  top: 15px;
  color: black;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all;
}

div.card__heart .far:hover {
  visibility: hidden;
}

button.btn {
  border: 1px solid #ff79da;
  background-color: #ff79da;
  color: white;
  border-radius: 25px;
  width: 170px;
  height: 50px;
  position: relative;
  top: 20px;
  left: 90px;
  font-size: 16px;
  background: linear-gradient(#f27be0, #b374e0);
  box-shadow: 4px 2px 4px 2px #f196e4;
  cursor: pointer;
}

button.btn:hover {
  background-color: #FF79DA;
  color: white;
}

div.menu__content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.menu__content .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  align-content: space-between;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin: 0px 0px 15px 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  height: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.83, 0.67);
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-name: itemdisplay;
  animation-delay: 0s;
  max-width: 100%;
  overflow: hidden;
  animation-fill-mode: both;
  transform: scale(0);
}

div.menu__content .item div.describe {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.menu__content .item div.describe p.describe-text {
  font-weight: 300;
  white-space: nowrap;
  margin: 0px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.menu__content .item div.describe h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.menu__content .item span.menu__price {
  font-weight: 800;
  margin-left: auto;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  top: 10px;
}

div.menu__content .item div.check__icon--check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 58px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99e2d0;
  margin-right: -3rem;
  flex-shrink: 0;
  border-collapse: collapse;
}

div.menu__content .item:hover .check__icon--check {
  margin-right: 0px;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: all 0.8s;
}

div.menu__content .item:hover .check__icon--check i {
  animation: rotate-icon 0.6s ease-in-out both;
}

div.menu__content .item:hover .check__icon--check .fa-check-circle {
  color: #99e2d0;
  background-color: white;
  border-radius: 50px;
  font-size: 35px;
  animation: rotate-icon 0.6s ease-in-out both;
}

div.menu__content .d-0 {
  animation-delay: 0s;
}

div.menu__content .d-1 {
  animation-delay: 0.3s;
}

div.menu__content .d-2 {
  animation-delay: 0.6s;
}

div.menu__content .d-3 {
  animation-delay: 0.9s;
}

@media only screen and (min-width: 1280px) {
  form {
    margin-left: 2px;
    display: flex;
    width: 1280px;
    height: 65px;
  }
  form input.index {
    font-size: 20px;
  }
  form button.map i.fas {
    font-size: 20px;
  }
  section.operation__contain {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 60px;
    column-gap: 20px;
  }
  section.operation__contain h2.operation__title {
    position: absolute;
    top: 300px;
    left: 0px;
    padding-top: 15px;
  }
  section.dining__contain {
    display: block;
    padding-right: 20px;
  }
  section.dining__contain div.dining__picture {
    width: 100%;
  }
  section.dining__contain div.dining__picture a.dining img {
    width: 100%;
  }
  section.dining__contain div.dining__content {
    width: 100%;
  }
  section.dining__contain div.heart__palettedugout {
    height: 50px;
    position: absolute;
    right: 0px;
    top: -160px;
  }
  section.dining__contain div.heart__lanoteenchantee {
    height: 50px;
    position: absolute;
    right: 0px;
    top: -160px;
  }
  section.dining__contain div.heart__alafrancaise {
    height: 50px;
    position: absolute;
    right: 0px;
    top: -160px;
  }
  section.dining__contain div.heart__ledelicedessens {
    height: 50px;
    position: absolute;
    right: 0px;
    top: -160px;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer .footpage {
    width: 100%;
    padding-left: 500px;
  }
}
