section.dining__contain div.dining__content a.content div.heart__ledelicedessens, section.dining__contain div.dining__content a.content div.heart__alafrancaise, section.dining__contain div.dining__content a.content div.heart__lanoteenchantee, section.dining__contain div.dining__content a.content div.heart__palettedugout {
  position: absolute;
  right: 20px;
  color: #242222;
}

div.footpage {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: #353535;
  padding-bottom: 70px;
}

div.footpage a img.footerlogo {
  width: 110px;
  font-family: 'Shrikhand', cursive;
  margin: 20px 0px 0px 15px;
  filter: invert(100%);
  -webkit-filter: white(100%);
}

* {
  margin: 0px;
  padding: 0px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform: translateX(-9999px);
  }
  to {
    transform: rotate(360deg);
    transform: translateX(0);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img.logo {
  width: 200px;
  font-family: 'Shrikhand', cursive;
  margin: 10px 0px 10px 0px;
}

form {
  display: flex;
  background-color: #eaeaeb;
  width: 375px;
  justify-content: center;
  box-shadow: 3px 1px 3px 1px white;
  border: 1px solid white;
  height: 40px;
  column-gap: 0px;
  align-items: center;
}

form button.map {
  width: 40px;
  height: 40px;
  background-color: #eaeaeb;
  border: none;
  align-items: center;
}

form input.index {
  border: none;
  background-color: #eaeaeb;
  height: 20px;
  font-size: 15px;
  width: 140px;
}

section.discovery {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

section.discovery div.discover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 20px;
  align-items: center;
}

section.discovery div.discover h1 {
  margin: 30px 50px 10px 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 280px;
}

section.discovery div.discover p {
  padding: 15px 23px 15px 22px;
  text-align: center;
}

section.discovery div.discover button.btn {
  border: 1px solid white;
  border-radius: 25px;
  height: 40px;
  font-size: 12px;
  width: 160px;
  border-color: transparent;
  background: linear-gradient(#f27be0, #b374e0);
  box-shadow: 1px 1px 1px 1px #f196e4;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 5px;
  color: white;
}

section.discovery div.discover button.btn:hover {
  background-color: #9356dc;
  color: white;
}

section.operation__contain {
  padding: 25px 0px 25px 0px;
  background-color: white;
}

section.operation__contain h2.operation__title {
  font-family: 'Roboto', sans-serif;
  padding-left: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  right: 80px;
}

section.operation__contain button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  font-size: 15px;
  width: 90%;
  height: 60px;
  border-color: transparent;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  top: 0px;
  color: black;
}

section.operation__contain button span.number {
  border-radius: 50px;
  background-color: #9356dc;
  width: 25px;
  height: 23px;
  color: white;
  position: absolute;
  left: -10px;
  top: 13px;
  font-size: 16px;
  cursor: pointer;
  padding-top: 6px;
}

section.operation__contain button svg .fa-mobile-alt {
  padding-left: 25px;
}

section.operation__contain button .svg-inline--fa {
  position: relative;
  right: 35px;
  margin-right: 10px;
}

section.operation__contain button .fa-store {
  color: #9356dc;
}

section.operation__contain .btn__grey {
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px 2px #dff7f1;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__grey:hover {
  background-color: white;
}

section.operation__contain .btn__lightgrey {
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px 2px #e5fdf7;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__lightgrey:hover {
  background-color: white;
}

section.operation__contain .btn__purple {
  background-color: #f3edff;
  box-shadow: 2px 2px 2px 2px #efeaf5;
  cursor: pointer;
  font-weight: bold;
}

section.operation__contain .btn__purple:hover {
  background-color: #f8f3fd;
}

section.dining__contain {
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 5px;
  padding-left: 5PX;
  box-sizing: border-box;
}

section.dining__contain h2.dining__title {
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

section.dining__contain div.dining__picture a.dining img {
  width: 95%;
  height: 170px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 10px;
  display: flex;
}

section.dining__contain div.dining__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  height: 70px;
  width: 92%;
  padding-left: 0px;
  margin-left: 10px;
  padding: 10px 0px 0px  10px;
  font-size: 20px;
}

section.dining__contain div.dining__content a.content {
  text-decoration: none;
}

section.dining__contain div.dining__content a.content div.dining__title h4 {
  color: black;
}

section.dining__contain div.dining__content a.content div.dining__title h3 {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  color: black;
  font-weight: 300;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout {
  top: 980px;
}

section.dining__contain div.dining__content a.content div.heart__palettedugout .svg-inline--fa {
  font-size: 25px;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee {
  top: 1250px;
}

section.dining__contain div.dining__content a.content div.heart__lanoteenchantee .svg-inline--fa {
  font-size: 25px;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise {
  top: 1520px;
}

section.dining__contain div.dining__content a.content div.heart__alafrancaise .svg-inline--fa {
  font-size: 25px;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens {
  top: 1785px;
}

section.dining__contain div.dining__content a.content div.heart__ledelicedessens .svg-inline--fa {
  font-size: 25px;
}

div.footpage a {
  color: white;
}

div.footpage .fa-staylinked {
  position: relative;
  left: 15px;
  top: 25px;
  color: white;
}

div.footpage p.weight {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 40px;
  line-height: 3px;
}

div.footpage p {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  line-height: 20px;
}

div.footpage .fa-utensils {
  position: relative;
  left: 15px;
  top: 25px;
  color: white;
}

/*-----Menu 1-----*/
img.backarrow {
  width: 30px;
  position: relative;
  right: 150px;
  top: 45px;
}

img.logo {
  width: 160PX;
  padding-left: 20px;
}

img.picture {
  width: 100%;
  position: relative;
  z-index: -1;
}

section.card-menu {
  padding: 10px 10px 60px 10px;
  background-color: #f6f6f6;
}

section.card-menu h4.card-menu__title {
  padding-bottom: 5px;
  width: 10%;
  color: black;
  margin: 30px 0px 15px 0px;
  border-bottom: 1px solid lightgrey;
  border-width: 3px;
  text-decoration: none;
}

div.menu {
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: -15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

div.menu h1.card__title {
  margin: 20px 15px 5px 0px;
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.card__heart {
  position: absolute;
  right: 45px;
  top: 365px;
  font-size: 25px;
}

button.btn {
  border: 1px solid #FF79DA;
  background-color: #FF79DA;
  color: white;
  border-radius: 25px;
  width: 170px;
  height: 50px;
  position: relative;
  top: 20px;
  left: 90px;
  font-size: 16px;
  background: linear-gradient(#f27be0, #b374e0);
  box-shadow: 4px 2px 4px 2px #f196e4;
  cursor: pointer;
}

button.btn:hover {
  background-color: #9356dc;
  color: white;
}

div.menu__content {
  overflow: hidden;
}

div.menu__content .item {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  margin: 0px 0px 15px 0px;
  padding-left: 10px;
  height: 60px;
  cursor: pointer;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.83, 0.67);
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-name: itemdisplay;
  max-width: 100%;
  overflow: hidden;
  animation-fill-mode: both;
}

@keyframes itemdisplay {
  from {
    transform: scale(0);
    transform: translateX(-9999px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
  }
}

div.menu__content .d0 {
  animation-delay: 0s;
}

div.menu__content .d1 {
  animation-delay: .5s;
}

div.menu__content .d2 {
  animation-delay: 1s;
}

div.menu__content .d3 {
  animation-delay: 1.5s;
}

div.menu__content .d4 {
  animation-delay: 2s;
}

div.menu__content .d5 {
  animation-delay: 2.5s;
}

div.menu__content .d6 {
  animation-delay: 3s;
}

div.menu__content .d7 {
  animation-delay: 3.5s;
}

div.menu__content .d8 {
  animation-delay: 4s;
}

.dish {
  width: 320px;
  overflow: hidden;
}

p {
  font-weight: 300;
}

h4 {
  padding-top: 10px;
}

div.menu__price {
  width: 20px;
  position: relative;
  left: 300px;
  bottom: 18px;
}

div.check__icon--check {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: relative;
  bottom: 72px;
  left: 290px;
  width: 60px;
  height: 70px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99E2D0;
}

div.check__icon--check .fa-check-circle {
  color: #99E2D0;
  background-color: white;
  border-radius: 50PX;
  font-size: 35px;
}
