$grey:rgb(234, 234, 235);
$green:#99E2D0;
$textbtnbgfooter:white;
$purple:#9356dc;
$pink:#FF79DA;
%heartmenu{ 
  position: absolute;
  right: 20px;
  color: rgb(36, 34, 34);}
%footpage{
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: rgb(53,53,53);
  padding-bottom: 70px;}
%imgfooter{ 
  width:110px;
  font-family: 'Shrikhand', cursive;
  margin:20px 0px 0px 15px;
  filter: invert(100%);
  -webkit-filter: white(100%);}
%fa-check-circle{ 
    color:$green;
    background-color:$textbtnbgfooter;
    border-radius: 50PX;
    font-size: 35px;}
%pricemenu{
    width: 20px;
    position: relative;
    left: 250px;
    bottom: 20px;}
%titlemenu{
    padding-bottom:5px;
    width: 10%;
    color: black;
    margin: 30px 0px 15px 0px;
    border-bottom : 1px solid lightgrey;
    border-width: 3px;
    text-decoration: none;}
%iconmenu{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 72px;
    left: 290px;
    width: 60px;
    height: 70px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $green;}
%contentmenu{ 
    border: 1px solid $textbtnbgfooter;
    background-color: $textbtnbgfooter;
    border-radius: 10px;
    margin:10px 0px 10px 0px;
    padding-left:10px;
    height: 69px;}
*{      
  margin: 0px;
  padding: 0px;
}
body {
  background-color:rgb(255, 255, 255);
  font-size: 16px;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
}
  header{
  display: flex;
  flex-direction: column;
  align-items: center;
    img.logo{
      width:200px;
      font-family: 'Shrikhand', cursive;
      margin:10px 0px 10px 0px;
    }
  }
  form{    
    display: flex;
    background-color:rgb(234, 234, 235);
    width:375px;
    justify-content: center;
    box-shadow: 3px 1px 3px 1px lighten($grey,35);
    border:1px solid lighten($grey,40);
    height: 40px;
    column-gap: 0px;
    align-items: center;
  
    button.map{       
      width: 40px;
      height: 40px;
      background-color:rgb(234, 234, 235);
      border: none;
      align-items: center;
      
    }
    input.index{
      border: none;
      background-color: rgb(234, 234, 235);
      height: 20px;
      font-size: 15px;
      width: 140px;
}
    }
  
  section.discovery{
    background-color:rgb(246, 246, 246);
    padding-bottom: 40px;
    div.discover{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 20px;
      align-items: center;
      h1{   
        margin: 30px 50px 10px 40px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        width: 280px;
      }
      p{
        padding: 15px 23px 15px 22px;
        text-align: center;      
      }
      button.btn {
        border: 1px solid lighten(#9356dc,40);
        border-radius: 25px;
        height: 40px;
        font-size: 12px;
        width:160px;
        border-color:transparent;
        background: linear-gradient(rgb(242, 123, 224), rgb(179,116,224));
        box-shadow: 1px 1px 1px 1px rgb(241, 150, 228);
        cursor: pointer;    
        position: relative;
        top: 10px;
        left: 5px;
        color: $textbtnbgfooter;
        &:hover {
          background-color: $purple;
          color:$textbtnbgfooter;

        }
      }
    }   
  }
  section.operation__contain{
    padding: 25px 0px 25px 0px;
    background-color: $textbtnbgfooter;
    h2.operation__title{
      font-family: 'Roboto', sans-serif;
      padding-left: 100px;
      margin-top: 30px;
      margin-bottom: 20px;
      position:relative;
      right:80px;
    }
    button{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      border-radius: 20px;
      height: 30px;
      font-size: 15px;
      width:90%;
      height:60px; 
      border-color:transparent;
      margin-bottom: 20px;
      position: relative;
      left: 20px;
      top: 0px;
      color: black;
      span.number{   
        border-radius: 50px;
        background-color: $purple;
        width: 25px;
        height: 23px;
        color: $textbtnbgfooter;
        position: absolute;
        left: -10px;
        top: 13px;
        font-size: 16px;
        cursor: pointer;
        padding-top: 6px;
      }   
      svg .fa-mobile-alt{padding-left: 25px;}
      .svg-inline--fa{
        position: relative;
        right: 35px;
        margin-right: 10px;
        }
      .fa-store{
        color:$purple
      }
    } 
      .btn__grey{
        background-color:rgb(246,246,246);
        box-shadow: 2px 2px 2px 2px #dff7f1;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
          background-color:lighten($grey,45);
        }   
      }  
      .btn__lightgrey{
        background-color:rgb(246,246,246); 
        box-shadow: 2px 2px 2px 2px #e5fdf7;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
          background-color: lighten($grey,45);
        }
      }
      .btn__purple{
        background-color:rgb(243, 237, 255);
        box-shadow: 2px 2px 2px 2px #efeaf5;
        cursor: pointer; 
        font-weight: bold;
        &:hover {
          background-color: rgb(248, 243, 253);
        }
      }
    
  }
  section.dining__contain{
    background-color: #f8f8f8;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5PX;
    box-sizing: border-box;
    h2.dining__title{
      margin-bottom: 20px;
      padding-left: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      
    }
   div.dining__picture a.dining img{
      width:95%;
      height:170px;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin-left: 10px;
      display: flex;
    }       
    div.dining__content{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content:center;
      align-items: flex-start;
      height: 60px;
      margin-bottom: 20px;
      background-color: $textbtnbgfooter;
      border-radius: 0px 0px 10px 10px;
      height: 70px;
      width:92%;
      padding-left:0px;
      margin-left: 10px;
      padding: 10px 0px 0px  10px;
      font-size: 20px;
      a.content {
        text-decoration: none;
        div.dining__title{
          h4{
            color: black;
          }
          h3{  
          margin: 5px 0px 0px 0px;
          font-size: 16px;
          color: black;
          font-weight:300;
          }
        }
        div.heart__palettedugout{    
         @extend %heartmenu;
          top: 980px;
          .svg-inline--fa{
            font-size: 25px;
          }
        }
        div.heart__lanoteenchantee{    
          @extend %heartmenu;
          top: 1250px;
          .svg-inline--fa{
            font-size: 25px;
          }
        }
        div.heart__alafrancaise{    
          @extend %heartmenu;
          top:1520px;
          .svg-inline--fa{
            font-size: 25px;
          }
        }
        div.heart__ledelicedessens{    
          @extend %heartmenu;
          top: 1785px;
          .svg-inline--fa{
            font-size: 25px;
          }
        } 
      } 
    }
  }
  div.footpage{
    @extend %footpage;
    a img.footerlogo{
      @extend %imgfooter;
      }  
    a { 
      color:$textbtnbgfooter;
    }
   
    .fa-staylinked{
      position: relative;
      left:15px;
      top: 25px;
      color: $textbtnbgfooter;
    }
    
    p.weight{
      margin-bottom: 5px;
      font-size:16px;
      font-weight: 500; 
      margin-left: 40px; 
      line-height: 3px;
    
    }
    p{
      font-size:16px;
      font-weight: 200; 
      color:$textbtnbgfooter;  
      margin-left: 15px; 
      margin-top: 15px;
      line-height: 20px;}
    .fa-utensils{
      position: relative;
      left: 15px;
      top: 25px;
      color: $textbtnbgfooter;
    }
  }
          /*-----Menu 1-----*/


  img.backarrow{
    width: 30px;
    position: relative;
    right: 150px;
    top:45px;
  }
  img.logo {
    width: 160PX;
    padding-left: 20px;
  } 
  img.picture{
  width: 100%;
  position: relative;
  z-index: -1;
  }
  section.card-menu{
    padding: 10px 10px 60px 10px;
    background-color: rgb(246, 246, 246);
    h4.card-menu__title{
      padding-bottom:5px;
      width: 10%;
      color: black;
      margin: 30px 0px 15px 0px;
      border-bottom : 1px solid lightgrey;
      border-width: 3px;
      text-decoration: none;
      }
    } 
  div.menu{
    background-color: #f8f8f8;
    padding: 15px;
    margin-top: -15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    h1.card__title{ 
      margin: 20px 15px 5px 0px;
      font-family: 'Shrikhand', cursive;
      font-size:25px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  div.card__heart{
    position: absolute;
    right: 45px;
    top: 365px;
    font-size: 25px;
  }
 
  button.btn{
    border: 1px solid #FF79DA;
    background-color: #FF79DA;
    color: white;
    border-radius: 25px;
    width:170px;
    height: 50px;
    position:relative;
    top: 20px;
    left: 90px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(rgb(242, 123, 224), rgb(179,116,224));
    box-shadow: 4px 2px 4px 2px rgb(241, 150, 228);
    &:hover {
      background-color: $purple;
    color: white;
    }
  }
  div.menu__content{
    div.btn{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    margin:0px 0px 15px 0px;
    padding-left:10px;
    height:60px;
    a{text-decoration: none;
      color: black;
      p{font-weight:300;
      }
      h4{padding-top: 10px;}
      div.menu__price{ 
        width: 20px;
        position: relative;
        left: 300px;
        bottom: 18px;
      }
      }div.check__icon--check{
        display: flex;
        direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        position: relative;
        bottom: 72px;
        left: 290px;
        width: 60px;
        height: 70px;
        overflow: hidden;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #99E2D0;
        .fa-check-circle{
          color:#99E2D0;
          background-color: white;
          border-radius: 50PX;
          font-size: 35px; 
        }
    }
  }
}

  