
@mixin heartresponsive { 
    height: 50px;
    position: absolute;
    right: 40px;
    top:-160px;
    
}
@mixin gradient{background: linear-gradient(rgb(242, 123, 224), rgb(179, 116, 224));}

@mixin btn{  background-color: rgb(246, 246, 246);
    box-shadow: 2px 2px 2px 2px #dff7f1;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      background-color: lighten($grey, 45);}
    }
 @mixin heartfas{  
     font-size: 25px;
    color: transparent;
    @include gradient;
    background-clip: text;
    -webkit-background-clip: text;
    opacity:0;
    transition: all;
    &:hover.fas{ opacity:1;
      transform: scale(1) translateY(-50%);
      transition-duration: 1s;
      }
    }
@mixin top($top:980px){position: absolute;
    top: $top;
    right:40px;}
@mixin sizecolorheart{ font-size: 25px;
    color: black;}    

 @mixin animation{white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;}   
@mixin new{display: flex;
      position: absolute;
      left: 268px;
      width: 90px;
      height: 28px;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: #99e2d0;
      text-align: justify;
      align-items: center;
      justify-content: center;
      align-content: center;}
